<div class="current-task current-task_mt">
  <div class="create-data">
    <span>{{data.date | date: 'dd.MM.yyyy'}}<br><span>{{data.date | date: 'HH:mm'}}</span></span>
  </div>
  <div class="priority">
    <div class="priority__current">{{data.prior}}</div>
    <div class="priority__triggers">
      <div class="priority__top" >
        <img src="https://raw.githubusercontent.com/glushach/todo-list/master/arrows/priority-top.png" alt="priority-top">
      </div>
      <div class="priority__bottom" >
        <img src="https://raw.githubusercontent.com/glushach/todo-list/master/arrows/priority-bottom.png" alt="priority-bottom">
      </div>
    </div>
  </div>
  <div class="task-description">{{data.text}}</div>

  <div class="editor-task">
    <div class="icons-editor"></div>
    <div class="icons-checked icons-checked_active" ></div>
    <div class="icons-delete" (click)="this.taskSvc.onConfirm(data.id)"></div>
  </div>
  <!-- Модальное окно confirm. Каждому компоненту task-item будет навешено модальное окно -->
  <app-confirm ></app-confirm>
  <!-- Модальное окно редактирования -->
  <app-editor></app-editor>
</div>

<!-- [ngClass]="{'task-description_active': !data.done, 'task-description_none': data.done}">{{data.text}} -->

<!-- [ngClass]="{'icons-checked_active': !data.done, 'icons-checked_none':  data.done}" -->