<div class="sort-panel">
  <div class="triggers-data">
    <div class="triggers-data__top">
      <img src="https://raw.githubusercontent.com/glushach/todo-list/master/arrows/data-sort-top.png" alt="">
    </div>
    <div class="triggers-data__bottom">
      <img src="https://raw.githubusercontent.com/glushach/todo-list/master/arrows/data-sort-bottom.png" alt="">
    </div>
  </div>
  <div class="triggers-priority">
    <div class="priority-sort__top">
      <img src="https://raw.githubusercontent.com/glushach/todo-list/master/arrows/priority-sort-top.png" alt="">
    </div>
    <span class="priority-sort__reset">123</span>
    <div class="priority-sort__bottom">
      <img src="https://raw.githubusercontent.com/glushach/todo-list/master/arrows/priority-sort-bottom.png" alt="">
    </div>
  </div>
  <div class="search">
    <div class="search__logo">
      <img src="https://raw.githubusercontent.com/glushach/todo-list/master/icons/search.png" alt="">
    </div>
    <form class="search-form" action="#">
        <input class="search__input" type="text" name="search" maxlength="50" autocomplete="on">
    </form>
  </div>
  <div class="filters-labels">
    <div class="filters-labels__icons">
      <img src="https://raw.githubusercontent.com/glushach/todo-list/master/icons/filter.png" alt="">
    </div>
  </div>
</div>
